<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Examen1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Calculadora</display-name>
    <servlet-name>Calculadora</servlet-name>
    <servlet-class>Calculadora</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calculadora</servlet-name>
    <url-pattern>/Calculadora</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Calculadorajava</display-name>
    <servlet-name>Calculadorajava</servlet-name>
    <servlet-class>Calculadorajava</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calculadorajava</servlet-name>
    <url-pattern>/Calculadorajava</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calcu</display-name>
    <servlet-name>calcu</servlet-name>
    <servlet-class>calcu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calcu</servlet-name>
    <url-pattern>/calcu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calcuresta</display-name>
    <servlet-name>calcuresta</servlet-name>
    <servlet-class>calcuresta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calcuresta</servlet-name>
    <url-pattern>/calcuresta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calcumulti</display-name>
    <servlet-name>calcumulti</servlet-name>
    <servlet-class>calcumulti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calcumulti</servlet-name>
    <url-pattern>/calcumulti</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calcudiv</display-name>
    <servlet-name>calcudiv</servlet-name>
    <servlet-class>calcudiv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calcudiv</servlet-name>
    <url-pattern>/calcudiv</url-pattern>
  </servlet-mapping>
</web-app>